<section class="about-company-section">
  <div class="container p-1 p-sm-3">
    <div class="row">
      <div class="col-12 text-center">
        <h2>About Product-Mart</h2>
        <hr />
      </div>

      <div class="col-md-3">
        <img class="img-fluid" src="../../assets/cart.jfif" alt="">

      </div>

      <div class="col-md-9">
        <p>
          Welcome to Product-Mart, your number one source for all things. 
          We're dedicated to giving you the very best of products, with a focus on  
          dependability, customer service and uniqueness. Founded in 2020 by Sudeept Dubey,
          Product-Mart was initially built as a Case-Study project, which was part of the training
          program at the Founders first job in a multinational company.
        </p>
        <p>
         Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, autem enim 
         tempore sed excepturi minus necessitatibus a eum minima esse reiciendis 
         officiis quod corporis aliquam ducimus? Ducimus vero animi ratione!
         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia debitis 
         quaerat laborum, maiores iste quasi rem earum nesciunt impedit sequi dignissimos 
         aliquid omnis, corporis quibusdam saepe eum voluptatum numquam. Veritatis
         Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, autem enim 
         tempore sed excepturi minus necessitatibus a eum minima esse reiciendis 
         officiis.
        </p>
        <p>
          We hope you enjoy our products as much as we enjoy offering them to you. 
          If you have any questions or comments, please don't hesitate to contact us.
        </p>

      </div>
    </div>
  </div>
</section>