<!doctype html>
<html lang="en">
  <head>
    
  </head>
      <body>
        
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../assets/Image_1C.jpg" alt="First slide">
                </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="../../assets/Image_2C.jpg" alt="Second slide">
                  </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/Image_4C.jpg" alt="Third slide">
                    </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/Image_5C.jpg" alt="Third slide">
                      </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../../assets/Image_3C.jpg" alt="Third slide">
                        </div>
              </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>

        <!-- grid code -->
   <div class="container">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="../../assets/thumb1.jfif" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Nike Running Shoe</h4>
              <p class="card-text">Nike, originally known as Blue Ribbon Sports (BRS), was founded by University of Oregon track athlete Phil Knight and his coach, Bill Bowerman, on January 25, 1964.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/thumb2.jfif" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Nike Air Huarache</h4>
              <p class="card-text">The company initially operated in Eugene, Oregon as a distributor for Japanese shoe maker Onitsuka Tiger, making most sales at track meets out of Knight's automobile.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/image4.jfif" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Nike Air</h4>
              <p class="card-text">According to Otis Davis, a University of Oregon student athlete coached by Bowerman and Olympic gold medalist at the 1960 Summer Olympics.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
    
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../assets/thumb3.jfif" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">White T-shirt for Men</h4>
            <p class="card-text">A crew neck is a type of shirt or sweater that has a round neckline and no collar, often worn with other layers.The name dates back to 1939 and was named after a type of sweater worn by rowers.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 5 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/thumb4.jfif" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Black T-shirt for Women</h4>
            <p class="card-text">Some modern versions have a body made from a continuously knitted tube, produced on a circular knitting machine, such that the torso has no side seams. The manufacture of T-shirts has become highly automated.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 5 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/thumb5.jfif" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Men printed T-shirt</h4>
            <p class="card-text">T-shirts were originally worn as undershirts, but are now worn frequently as the only piece of clothing on the top half of the body, other than possibly a brassiere or, rarely, a waistcoat (vest).T-shirts have also become a medium.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 5 mins ago</small>
          </div>
        </div>
        </div>

        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="../../assets/thumb6.jfif" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Men Blue jeans</h4>
              <p class="card-text">Jeans are a type of pants or trousers, typically made from denim or dungaree cloth. Often the term "jeans" refers to a particular style of trousers, called "blue jeans", which were invented by Jacob W.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 10 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/thumb7.jfif" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Blue jeans for Women</h4>
              <p class="card-text">patented by Jacob W. Davis and Levi Strauss on May 20, 1873. Prior to the Levi Strauss patented trousers, the term "blue jeans" had been long in use for various garments, constructed from blue-colored denim.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 10 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/thumb8.jfif" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Men dark blue jeans</h4>
              <p class="card-text">The term jeans appears first in 1795, when a Swiss banker by the name Jean-Gabriel Eynard and his brother Jacques went to Genoa and both were soon heading a flourishing commercial concern.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 10 mins ago</small>
            </div>
          </div>
          </div>

          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="../../assets/thumb9.jfif" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Green Fabric Sofa</h4>
                <p class="card-text">A couch, also known as a sofa, settee, futon, or chesterfield, is a piece of furniture for seating two or three people.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 12 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../../assets/thumb10.jfif" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">living Room Sofa</h4>
                <p class="card-text">It is commonly found in the form of a bench, with upholstered armrests, and often fitted with springs and tailored cushions.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 12 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../../assets/thumb11.jfif" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Brown & white Fabric Sofa</h4>
                <p class="card-text">Although a couch is used primarily for seating, it may be used for sleeping. In homes, couches are normally put in the family room, living room.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 12 mins ago</small>
              </div>
            </div>
            </div>




   </div>
        <div class="footer">
          <p>Footer</p>
        </div>
        
      </body>
</html>